version: "3.8"

services:
  # api:
  #   build: .
  #   ports:
  #     - "8080:8080"
  #   env_file:
  #     - .env
  #   depends_on:
  #     - postgres
  #   restart: unless-stopped
  database:
    image: mongo:latest
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - mongodb
    restart: unless-stopped

  mongodb:
    image: mongo:7-jammy
    environment:
      MONGO_INITDB_ROOT_USERNAME: lucidrag
      MONGO_INITDB_ROOT_PASSWORD: lucidrag
      MONGO_INITDB_DATABASE: lucidrag
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    restart: unless-stopped

  # postgres:
  #   image: postgres:15-alpine
  #   environment:
  #     POSTGRES_DB: lucidrag
  #     POSTGRES_USER: postgres
  #     POSTGRES_PASSWORD: postgres
  #   ports:
  #     - "5432:5432"
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data
  #   restart: unless-stopped

  # admin-ui:
  #   build:
  #     context: ./admin-ui
  #     dockerfile: Dockerfile
  #   ports:
  #     - "4200:80"
  #   depends_on:
  #     - api
  #   restart: unless-stopped

volumes:
  mongodb_data:
